
window {
    color: black;
    background-color: #139fe1;
    background-color: #87ceeb;
    /*background: linear-gradient(180deg, #9BA5AE 0%, rgb(231,191,182) 100%); margin: 5px;*/
    /*background: linear-gradient(to top, #040308, #3E5879,#9BA5AE,#FC7001, #DD723C, #AD4A28, #DCB697);*/
    box-shadow: 0 0 25px rgba(0,0,0,.5)
}
button {
    color: black;/* changes color of vol+/- buttons*/
    background: #ff91af;
    background: linear-gradient(180deg, #87ceeb 0%, rgb(231,191,182) 100%); margin: 5px;
    background: linear-gradient(to top, #f3f2e7, #87ceeb);
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    border-radius: 10px; /* higher value gives more rounded buttons*/
    box-shadow: 0 0 5px black /*rgba(0,0,0,.5)*/
}
/* this will highlight the chosen button*/
button:focus{
    background: #f3f2e7;
}

switch {
    color: black;/* changes color of vol+/- buttons*/
    background: #ff91af;
    background: linear-gradient(180deg, #87ceeb 0%, rgb(231,191,182) 100%); margin: 5px;
    background: linear-gradient(to top, #e39a97, #DCB697);
    background: #f3f2e7;
    padding: 0px;/*makes buttons bigger*/
    border-radius: 500px; /* higher value gives more rounded buttons*/
    box-shadow: 0 0 5px black/*rgba(0,0,0,.5)*/
}

slider {
    color: black;/* changes color of vol+/- buttons*/
    background: #ff91af;
    /*background: rgb(242,93,9);*/
    background: linear-gradient(180deg, #87ceeb 0%, rgb(231,191,182) 100%); margin: 5px;
    background: linear-gradient(to top, #e39a97, #DCB697);
    background: #f3f2e7;
    padding: 0px;/*makes buttons bigger*/
    border-radius: 40px; /* higher value gives more rounded buttons*/
    /*box-shadow: 0 0 1px rgba(0,0,0,.5)*/
}

slider:active{
    background: black;
}

/* robins egg Blue and rose pink
window {
    background-color: rgb(31,206,203);
    box-shadow: 0 0 1px rgba(0,0,0,.5)
}
button {
    background: rgb(242,93,9);
    background: linear-gradient(180deg, rgb(31,206,203) 0%, rgb(255,102,204) 100%); margin: 5px;
    padding: 1px;
    border-radius: 1px;
    box-shadow: 0 0 1px rgba(0,0,0,.5)
}
*/
